<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="Back">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Restock</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #restockForm="ngForm" (ngSubmit)="onSubmit(restockForm)">
    <ion-item class="ion-align-items-center">
      <div class="form-group">
        <ion-label  position="floating" for="resQuantity">Restock Quantity</ion-label>
        <ion-input class="form-group" required ngModel name="resQuantity" #resQuantity="ngModel" 
        type="text" id="resQuantity" (change)=checkNumber(resQuantity)></ion-input>
        <div class="alert alert-danger" *ngIf="resQuantity.touched && !this.restockQty" 
        [ngStyle]="{backgroundColor:'red'}"> Please type a number.</div>
        <ion-button type="submit" expand="block" size="4">Submit</ion-button>
      </div>
    </ion-item>
  </form>
  <ion-list-header >
    Item List
  </ion-list-header>
  <ion-list>
    <ion-item class="item-content" *ngFor="let item of listOfItems; let i = index"
     (click)="itemChosen(item, i)" 
    [ngStyle]="{color: selectedItem == i ? 'blue' : null}">
      <ion-label>{{item.title}}</ion-label>
      <ion-label>Quantity: {{item.quantity}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>